/*.s1用术语 叫做类选择器*/
.s1{
    color:green;
	font-size:30px;
	font-style:italic;
	text-decoration:underline;

}
.s2{
    color:blue;
}
.s3{
    color:red;
	font-style:italic;
}
.s4{
    color:green;
	font-weight:bold;/*font-weight 字体的粗细bold表示粗体*/
}
.s5{
    color:#9c3133;
}
